<html lang="en">
    <head>
        <title>Sample</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
         <link rel="stylesheet" href="./style.css">
        <script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript" src="./main.js"></script>
    </head>
    
    <body>
        <h1>Input Example: Enter a value and check python console</h1>
        <div>
            <label for="inp">Enter number</label> <br>
            <input type='text' id='inp' name="inp" placeholder=''>
            <input type='button' id='btn' class='btn btn-primary' value='Submit'> <br> <br>
            <textarea id='textArea' placeholder='Value x 2'></textarea>
        </div>
    </body>
</html>
