<html lang="en">
    <head>
        <title>Sample</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
        <link rel="stylesheet" href="./style.css">
        <script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript" src="./main.js"></script>
    </head>
    <body>
        Welcome to
        <h1>Biological Control Agent Statistics</h1>
        <section>
            <input type="button" value="New Sample">
            <input type="button" value="Data Review">
        </section>
        <div class="container1">
            <div class="grid1">
                <h3>Instructions</h3>
                To add a new sample set, click on New Sample. Then <br>
                "Add images", add the location data and date, select the <br>
                variables you want calculated and press the "Next" button
            </div>
            <div class="grid2">
                <h3>Credit</h3>
                Leaf Scarring - Group 5 <br>
                D Giovannoni - Project Supervisor <br>
                Dr.K English - Project Sponsor <br>
                <br>
                Belgium ITversity, RSA <br>
                Center of Biological Control, Rhodes University, US <br>
            </div>
        </div>
    </body>
</html>

<!--

-->
